.Explore-stay-slider-container {
  
    position: absolute;
    width: 50%;
    height: 660px;
    padding: 40px 0;
    overflow: hidden;
   right: 720px;
    top: 40vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .NearbyStayBack{
    
    transform: scaleX(-1);
    width: 100%;
    margin-bottom: 100px;
  }