.Explore-stay-slider-container {
  
    position: absolute;
    width: 50%;
    height: 660px;
    padding: 40px 0;
    overflow: hidden;
   left: 50px;
    top: 20vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  /* .NearbyStayBack{
    
    transform: scaleX(-1);
    width: 100%;
    margin-bottom: 100px;
  } */

  .NearByAttraction-container img {
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -2;
  }