


.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1b2fde;
}

.wrapping-email-send-otp {
  display: flex;
}
.forgot-box {
  background-color: #2a2545;
  padding: 3rem;
  border-radius: 12px;
  width: 480px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.input-field-email-otp {
  position: relative;
  width: 340px;
  padding: 12px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid #635b9b;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}

.input-field-password{
  position: relative;
  width: 341px;
  padding: 12px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid #635b9b;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  
}
.input-field-confirm-password{
  position: relative;
  width: 341px;
  padding: 12px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid #635b9b;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}
.wrapping-password-container{
  right: 21px;
  position: relative;
}
.input-field:focus {
  outline: none;
  border-color: #907ad6; 
}
.wrapping-otp-verifybutton {
  display: flex;
  position: relative;
  left: 50px;
  margin: 10px;
}
.otp-label {
  position: relative;
  /* bottom: 10px; */
  right: 20px;
}
.wrapping-otp-verifybutton button {
  width: 82px;
  background-color: #6c4ecf;
  color: white;
  padding: 10.1px;
  margin-left: 15px;
  margin-top: 18px;
  border: none;
  gap: 10px;

  border-radius: 6px;
  font-size: 12.2px;
  cursor: pointer;
}
.reset-btn-pass-word {
  width: 100px;
  background-color: #6c4ecf;
  color: white;
  padding: 11.5px;
  margin-top: 14px;
  border: none;
  gap: 10px;
  border-radius: 6px;
  font-size: 14.2px;
  cursor: pointer;
  position: relative;
  right: 17px;
}

.reset-btn:hover,
.verify-btn:hover {
  background-color: #5a3eb8;
}

.reset-btn-otp{
  width:80px;
  background-color: #6c4ecf;
  color: white;
  padding: 11.44px;
  margin-left: 7.5px;
  margin-top: 14px;
  border: none;
  gap: 10px;
  border-radius: 6px;
  font-size: 12.2px;
  cursor: pointer;
}
.otp-label {
  color: #fff;
  margin-top: 15px;
  font-size: 14px;
}

.otp-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  right: 20px;
}

.otp-box {
  width: 45px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #635b9b;
  background: transparent;
  color: white;
}

.otp-box:focus {
  outline: none;
  border-color: #907ad6;
}

/* Messages */
.message-text {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
}

.success-message {
  color: #5bd75b;
  font-size: 14px;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Password Fields */
.input-field:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.forgot-password-h1 {
  color: #fff;
  position: relative;
  bottom: 20px;
}
