.explore-switching-headings{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}
 
.explore-switching-headings p {
    padding: 5px 10px;
    transition: all 0.3s ease;
    position: relative;
}
 
.explore-switching-headings p:hover {
    color: #540b87;
}
 
.active-heading {
    color: #540b87;
    border-bottom: 2px solid #540b87;
}
 
.explore-switched-components-container {
    margin-top: 20px;
}
 