.merchant-form-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .merchant-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 20px;   

  }

  .form-wrapper{
    display: flex;
    justify-content: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-input {
    width: 100%;
    padding: 5px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 10px;
    width: 400px;
  }
  
  .submit-button {
    margin-top: 20px;
    width: 100%;
  }

  .merchant-form-container{
    border: 1px solid #ccc;
    border-radius: 40px;
    width: 600px;
  }
  