 .categories-container{
  position: relative;
  padding: 20px;
  color: white;
  overflow: hidden;
  top: 100vh;
}

.categories-header{
  color: #ffff;
  padding: 10px;
  display: flex;
  justify-content: center;
 
}


.categories-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
  padding: 20px;
}
  
  .categories-grid-item {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .categories-grid-item:hover {
    opacity: 0.8;
  }
  
  .categories-grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
  }
  
  .categories-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0); /* Initially transparent */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    transition: background 0.3s ease;
    text-align: center;
  }
  
  .categories-overlay h3 {
    margin: 0;
    font-size: 1.1rem;
    transform: translateY(0); /* default position */
    transition: transform 0.3s ease;
    z-index: 2;
  }
  
  .categories-overlay p {
    margin-top: 5px;
    font-size: 0.85rem;
    opacity: 0;
    transform: translateY(10px); /* below title initially */
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2;
  }
  .categories-overlay-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.6); /* dark transparent overlay */
    pointer-events: none;
    z-index: 1;
  }
  /* Hover styles */
  .categories-grid-item:hover .categories-overlay {
    background: rgba(0, 0, 0, 0.6);
  }
  
  .categories-grid-item:hover .categories-overlay h3 {
    transform: translateY(-10px); /* move title up */
  }
  
  .categories-grid-item:hover .categories-overlay p {
    opacity: 1;
    transform: translateY(0); /* move description up into place */
  }
  

  .categories-grid-item:hover .categories-grid-img {
    opacity: 0.85;
  }
  
  
  
 
  .item1 { grid-column: span 1; grid-row: span 1; }
  .item7 { grid-column: span 1; grid-row: span 2; }
  .item6{ grid-column: span 1; grid-row: span 3; }
  .placeId { grid-column: span 1; grid-row: span 1; }
  .item15 { grid-column: span 1; grid-row: span 2; }
  .item6 { grid-column: span 1; grid-row: span 2; }
  .item7 { grid-column: span 1; grid-row: span 3; }
  .item8 { grid-column: span 1; grid-row: span 2; }
  .placeId { grid-column: span 1; grid-row: span 2; }  
  .item10 { grid-column: span 1; grid-row: span 2; }


.categories-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease;
  width: 100%;
}



.categories-header,
.categories-grid-container {
  position: relative;
  z-index: 2;
} 