.user-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
  }
  
  .user-profile-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    width: 100%;
    max-width: 400px;
    position: relative;
  }

  .profile-loading{
    text-align: center;
  }
  
  .user-profile-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .profile-page-content{
    position: absolute;
    top: 80px;
    left: 300px;
    margin: 20px;
    width: 73%;
    
  }
  
  .user-profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem auto;
  }
  
  .user-profile-input {
    display: block;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 6px;
  }
  
  .user-profile-save-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .user-profile-save-btn:hover {
    background-color: #0056b3;
  }

  .profile-footer{
    width: 100%;
    position: relative;
    top: -88vh;
   
  }

  